---
import "../styles/global.css";
import Header from "../components/Header";
import Subsection from "../layouts/Section.astro";
import Box from "../components/Box.astro";
import Tag from "../components/Tag.astro";
import Layout from "../layouts/Layout.astro";
import OverlapCards from "../components/OverlapCards.astro";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

import profileImage from "../assets/Ryan_Portrait_Cropped.jpg";
import nutripairImage from "../assets/Nutripair-Portfolio-Screenshots.jpg";
import RBVIImage from "../assets/ChimeraX-ViewdockX.png";
import tempImage from "../assets/DSC_3180.jpg";
---

<Layout title="My Portfolio">
  <Header client:load />
  <main>
    <Subsection fullPage={true} id="home">
      <div class="grid my-auto md:grid-cols-2 gap-x-12">
        <!-- Intro -->
        <div class="md:md:row-start-2">
          <div>
            <p class="text-center md:text-left">Hi, my name is</p>
          </div>
          <h1
            class="text-center text-5xl font-bold pt-1 pb-4 self-center leading-none md:text-6xl md:text-left md:my-4"
          >
            Ryan Suzuki Wong
          </h1>
        </div>

        <!-- Image -->
        <!-- <img
          src="Ryan_Portrait_Cropped.jpg"
          class="object-cover max-w-full max-h-64 mt-4 mx-auto md:mt-0 md:max-h-full md:row-span-5 md:col-start-2 md:mr-0"
          alt=""
        /> -->
        <Image
          src={profileImage}
          class="object-contain object-top w-full max-w-sm max-h-64 mt-4 mx-auto md:mt-0 md:max-h-full md:max-w-full md:row-span-5 md:col-start-2 md:mr-0"
          alt="ryan's profile image in shirt and tie"
        />

        <!-- Description -->
        <p class="text-center mt-4 md:text-left">
          I am a software engineer based in San Francisco CA and a UC Irvine
          graduate with B.S. in Computer Science
        </p>

        <!-- Tags -->
        <div
          class="mt-4 flex flex-col flex-wrap gap-2 justify-center items-center md:justify-start md:flex-row md:col-start-1"
        >
          <Tag text="Software Engineer" additionalStyles="w-64 text-center" />
          <Tag
            text="Full Stack Developer"
            additionalStyles="w-64 text-center"
          />
          <Tag text="UI / UX" additionalStyles="w-64 text-center" />
        </div>

        <a
          href="#expertise"
          class="hidden md:flex w-10 absolute left-0 right-0 mx-auto bottom-[15%]"
          id="arrow"
        >
          <Icon
            name="arrow_animated"
            class="stroke-black dark:stroke-white stroke-[12px]"
          />
        </a>
      </div>
    </Subsection>

    <Subsection title="Expertise" id="expertise" marginY="mb-16 md:mb-24">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <Box
          iconName="computer"
          title="Software Development"
          text="Experienced in OOP and functional languages. (such as Python, \
					Javascript, Typescript, C++, Java)"
        />
        <Box
          iconName="database"
          title="SQL Database / Scripting"
          text="Passionate in SQL and NoSQL DB (such as document and graph DB) management \
					and scripting. (Postgres, MySQL, Mongo DB, Couch DB, Cassandra, Neo4J)"
        />
        <Box
          iconName="mobile"
          title="Mobile Development"
          text="Skilled in developing hybrid mobile apps with React Native / Expo (a \
					framework that transpiles JS/TS to native IOS and Android modules)"
        />
      </div>
    </Subsection>

    <Subsection title="Experience" id="experience">
      <div class="flex flex-col gap-16 md:gap32">
        <OverlapCards
          title="Nutripair"
          subtitle="Full Stack Technical Lead"
          image={nutripairImage}
          alt="Series of screenshots of the Nutripair Mobile app displaying home page as well as restaurant and menu item page for Din Tai Fung and In-n-Out"
          tags={["React Native", "Postgres", "AWS"]}
        >
          <div slot="description">
            <p>
              Lead technical development of a mobile app with 6+ developers that
              helps users with strict diets and allergies match with restaurants
              that can best accomodate to their needs.
            </p>
            <li>
              Collaborated with C-Level officers and other tech leads on
              architecture design, feature proposals, road mapping and conducted
              technical interviews to onboard new developers.
            </li>
            <li>
              Performed code reviews and mentored junior developers to ensure
              code quality and consistency.
            </li>
            <li>
              Converted two entire repositories to Typescript to improve code
              readability and maintainability.
            </li>
          </div>
        </OverlapCards>

        <OverlapCards
          title="Resource for Biocomputing and Visual Informatics (RBVI) - UCSF"
          subtitle="Software Developer Intern"
          image={RBVIImage}
          alt="screenshot of UCSF ChimeraX software interface displaying 3D view of a sample module with a "
          tags={["Python", "PyQT", "HTML / CSS"]}
          swapSides={true}
        >
          <div slot="description">
            <a
              href="https://www.cgl.ucsf.edu/Overview/index.html"
              class="text-blue-800">(RBVI Link)</a
            >
            <li>
              Designed 3d molecular visualization tool with a team of developers
              for ChimeraX (software used by biochemists) by embedding
              dynamically generated charts/graphs with JavaScript and HTML into
              a PyQT widget.
            </li>
            <li>
              Developed parsers for molecular format files (SYBYL
              representation) using Python to translate into a 3D visual model
              of proteins.
            </li>
          </div>
        </OverlapCards>

        <OverlapCards
          title="Level 8 Construction"
          subtitle="Software Developer / IT / Administrator"
          image={tempImage}
          alt="tempory image (night sky at the beach)"
          tags={["React Native", "MySQL"]}
        >
          <div slot="description">
            <li>
              Developing a Mobile App to help track worker timesheets
              efficiently and hassle-free. (still under development)
            </li>
            <li>
              Helping company migrate from old legacy systems to new cloud-based
              technologies to reduce costs and improve efficiency for
              administrative and field work.
            </li>
          </div>
        </OverlapCards>
      </div>
    </Subsection>

    <Subsection title="Contact Me" id="contact" marginY="mb-24 md:mb-32">
      <p class="text-xl">
        Feel free to reach out to me at any time! I am always open to new
        opportunities and connections.
      </p>

      <div class="mt-16 flex gap-4 items-center">
        <a
          class="text-2xl md:text-4xl text-blue-700 font-medium align-middle dark:text-blue-400"
          href="mailto:ryan.suzuki.w@gmail.com">ryan.suzuki.w@gmail.com</a
        >
      </div>

      <a
        class="mt-8 flex gap-4 items-center"
        href="https://www.linkedin.com/in/ryan-wong-8b0338141/"
      >
        <Icon name="linkedin" class="w-12 text-blue-700 dark:text-blue-400" />
        <p
          class="text-2xl md:text-4xl text-blue-700 font-medium align-middle dark:text-blue-400"
        >
          Linkedin
        </p>
      </a>

      <a
        class="mt-8 flex gap-4 items-center"
        href="https://github.com/ryanswong"
      >
        <Icon name="github" class="w-12 text-blue-700 dark:text-blue-400" />
        <p
          class="text-2xl md:text-4xl text-blue-700 font-medium align-middle dark:text-blue-400"
        >
          Github
        </p>
      </a>
    </Subsection>
  </main>
</Layout>

<script>
  // var prevScrollpos = window.pageYOffset;
  // window.onscroll = function () {
  //   var currentScrollPos = window.pageYOffset;
  //   if (prevScrollpos > currentScrollPos) {
  //     document.getElementById("navbar").style.top = "0";
  //   } else {
  //     document.getElementById("navbar").style.top = "-50px";
  //   }
  //   prevScrollpos = currentScrollPos;
  // };
</script>
